html {
    background-color:lightgray;
    font-family: fantasy;
    color: white;
    @font-face{
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        
    

    
}
}

body {
    font-size: 12pt;
    margin: 1.6in 1.1in 1.1in;
        
}